<!DOCTYPE html>
<html>
<head>
    <title>Spring Boot Download Excel File Export from MySQL Database</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body class="container">
	<p>Click button below to download Excel file.</p>
	<a href="http://localhost:8080/downloadExcelFile" class="btn btn-primary">Download Excel File</a>
</body>
</html>